@using CliveKumara.Architeture.DomainModel.Model
@model IEnumerable<Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>

@foreach (var item in Model)
{
    <p>@item.Name</p>
}

